body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  padding: 1rem;
}

.list-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid lightblue;
  border-radius: 10px;
}

.fact {
  width: 45%;
  color: #1f9dc5;
  background-color: lightgray;
  border: 1px solid #1f9dc5;
  border-radius: 4px;
  padding: 16px;
  margin: 1rem 0;
}

.input-show-fact {
  width: 10rem;
  color: #1f9dc5;
  background-color: rgb(233, 226, 226);
  border: 1px solid #1f9dc5;
  border-radius: 4px;
  padding: 0.5rem 2rem;
}

.input-show-fact::placeholder {
  font-size: 0.75rem;
}

.input-show-fact:focus {
  border: 1px solid rgb(38, 137, 177);
}